.cart-item
  .item-name= item.product_name
  .price-wrapper
    .amount
      = item.quantity
      x
    .unit-price
      = format_price item.product_price
    .item-summary
      = "="
      = format_price item.amount_due
.clearfix
