- content_for :search do
  = simple_form_for [:admin, @q], url: admin_orders_path, method: :get do |f|
    = f.input :email_or_id_eq, placeholder: "Szukaj wg ID lub email", label: false, input_html: { class: "form-control" }
    = f.input :created_at_gteq, label: false, placeholder: "Data początkowa", include_blank: true, input_html: { class: "datepicker form-control" }
    = f.input :created_at_lteq, label: false, placeholder: "Data końcowa", include_blank: true, input_html: { class: "datepicker form-control" }
    = f.button :submit, "Szukaj", class: "btn btn-primary"
    - if search_active?(@q)
      = link_to admin_users_path, class: "btn btn-mini btn-danger", title: "Wyczyść" do
        %i.icon.icon-remove

%table.table.table-striped
  %tr
    %th= sort_link(@q, :id, "ID") 
    %th= sort_link(@q, :created_at, "Data zamówienia")
    %th= sort_link(@q, :email, "Zamawiający")
    %th= sort_link(@q, :status, "Status")
    %th 
  -@orders.each do |order| 
    %tr
      %td= order.id
      %td= order.created_at
      %td= order.email
      %td= order.status
      %td
        .pull-right
          .btn-group
            = link_to admin_order_path(order), class: "btn btn-primary" do
              %i.icon-info-sign
              Szczegóły
            = link_to edit_admin_order_path(order), class: "btn btn-default" do
              %i.icon-edit
              Edytuj