.carousel-wrapper
  %ul.carousel{ data: { role: "carousel" } }
    - @products.with_bargain.each do |product|
      %li{ data: { role: "item" } }
        .nav-icon.prev.small-icon{ data: { role: "nav-link" } }
        .nav-icon.next.small-icon{ data: { role: "nav-link" } }
        .description
          .title= product.name
          .content= product.description
          .fabric
            Skład: 
            = product.fabric
          = link_to "zobacz", product_path(product.id), class: "more"
        .photo
          = image_tag product.picture.full_view, alt: "sypialnia"    
.categories-wrapper
  %h1 Najchętniej kupowane:
  %ul
    - @products.bestsellers.take(4).each do |product|
      %li
        = link_to product_path(product) do
          .photo= image_tag product.picture.full_view_thumb
          %h2= product.name
  .clearfix
      
%ul.advantages
  %li.advantage
    .advantage-icons.free-shipping
    .description Przy zamówieniach powyżej 200zł dostawa gratis!
    = link_to "więcej", "", class: "more"
  %li.advantage
    .advantage-icons.good-quality
    .description Gwarancja najwyższej jakości polskich materiałów.
    = link_to "więcej", "", class: "more"
  %li.advantage
    .advantage-icons.gifts
    .description Na życzenie Klienta towar pakujemy jako prezent.
    = link_to "więcej", "", class: "more"
  %li.advantage.bargains
    .advantage-icons.bargains
    .description Korzystna oferta cenowa.
    = link_to "więcej", "", class: "more"
.clearfix