.container.shipping-and-payment{ data: { role: "auto-updating" } }
  .wrapper
    = simple_form_for @step.model do |f|
      .inputs
        = render "shipping_address_form", f: f
        = render "billing_address_form", f: f
                
        %h2.subheading= t("cart_steps.comment")
        = f.input :comment, as: :text, label: false
        
        %h2.heading= t("cart_steps.payments")
        = f.input :payment_method, as: :radio_enumeration, label: false
        %h2.heading= t("cart_steps.shipping_method")
        = f.input :shipping_method, as: :radio_enumeration, label: false, checked: @step.shipping_method.value

      .clearfix
      .delivery-price
        - if @cart.free_delivery_reached?
          = "Bezpłatna dostawa!"
        - else
          = "Do bezpłatnej dostawy brakuje jeszcze #{format_price(@cart.amount_to_free_shipping)}."
          
      
      .actions
        .form-button
          = button_tag t("cart.summary"), type: "submit", class: "button"
        .form-link.prev-step
          = link_to "Wróć do poprzedniego kroku", cart_step_path(@step.previous)
          
        .clearfix
