= simple_form_for [:admin, @product], class: "form-horizontal" do |f|
  .form-group
  = f.simple_fields_for :picture, @product.picture do |fd|
    = fd.input :full_view, as: :file, inline_label: 'Pełne zdjęcie'
    = image_tag(@product.picture.full_view_url) if @product.picture.full_view?
    = fd.input :zoom, as: :file, inline_label: 'Zbliżenie'
    = fd.input :pattern, as: :file, inline_label: 'Wzór'
    = fd.input :full_view_thumb, as: :file, inline_label: 'Pełne zdjęcie - miniatura'
    = fd.input :zoom_thumb, as: :file, inline_label: 'Zbliżenie - miniatura'
    = fd.input :pattern_thumb, as: :file, inline_label: 'Wzór - miniatura'
  = f.input :name, input_html: { class: "form-control" }
  = f.input :description, input_html: { class: "form-control" }
  = f.input :bargain, inline_label: 'Promocja'
  = f.input :amount, input_html: { class: "form-control" }
  = f.input :type_id, collection: ProductType.all, value_method: :id, label_method: :kind, input_html: { class: "form-control" }
  = f.input :manufacturer, input_html: { class: "form-control" }
  = f.input :fabric, input_html: { class: "form-control" }
  = f.input :color, name: "Wybierz pasujący kolor", collection: @product.colors, input_html: { class: "form-control chosen-input", multiple: "true", data: { placeholder: "Wybierz pasujący kolor"} }
  = f.input :bestseller, inline_label: 'Bestseller'
  .actions
    = f.button :submit, class: "btn btn-primary"