- content_for :search do
  = simple_form_for [:admin, @q], url: admin_products_path, method: :get do |f|
    = f.input :id_eq, placeholder: "Szukaj wg ID lub nazwy", label: false

- content_for :actions do
  = link_to new_admin_product_path, class: "btn btn-default" do
    %i.icon-plus-sign
    Dodaj pościel

%table.table.table-striped
  %tr
    %th= sort_link(@q, :id, "ID") 
    %th= sort_link(@q, :name, "Nazwa")
    %th= sort_link(@q, :price, "Cena")
    %th= sort_link(@q, :amount, "Ilość")
    %th Zdjęcie
    %th 
  -@products.each do |product| 
    %tr
      %td= product.id
      %td= product.name
      %td= product.price
      %td= product.amount
      %td= image_tag product.picture.full_view_thumb
      %td
        .pull-right
          .btn-group
            = link_to admin_product_path(product), class: "btn btn-primary" do
              %i.icon-info-sign
              Pokaż
            = link_to edit_admin_product_path(product), class: "btn btn-default" do
              %i.icon-edit
              Edytuj
            = link_to admin_product_path(product), method: :delete, confirm: "Czy na pewno chcesz usunąć produkt \"#{product.name}\"?", class: "btn btn-danger" do
              %i.icon-trash 
              Usuń
              
