%header.main-header
  = link_to root_path, class: "logo" do
    = image_tag "logo.jpg", alt: "cuckoo"
  .action-wrapper
    %nav.top-nav{ data: { role: "main-top-nav" } }
      %ul
        - if current_user
          %li= link_to "Ustawienia konta", edit_user_registration_path
          %li= link_to "Wyloguj się", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Zaloguj się", new_user_session_path, class: "open_popup"
          %li= link_to "Zarejestruj się", new_user_registration_path, class: "open_popup"
    .search-wrapper
      = simple_form_for ProductSearch.new, url: "", method: :get, as: "", data: { autocomplete_url: search_autocomplete_path } do |f|
        = f.input :q, placeholder: "Czego szukasz?", class: "ribbon-placeholder search-input", label: false, input_html: { name: "q", data: { role: "search-input" } }
        = f.submit "", class: "search-button"
  .clearfix
  = link_to cart_path do
    %section.cart{ data: { role: "auto-updating" } }
      .small-icon.cart
      .cart-details
        .price{ data: {'initial-value' => current_cart.items_amount_due } }= format_price current_cart.items_amount_due
        .amount{ data: {'initial-value' => current_cart.items_quantity } }
          = I18n.translate :product_quantity, count: current_cart.items_quantity
        .clearfix
  %nav.main-nav{ data: { role: "main-nav" } }
    %ul.main-category
      %li{data: {role: "main-category" }}=link_to "Wszystkie pościele", products_path
      %li{data: {role: "main-category" }}=link_to "160x200", products_path(size_id: 3)
      %li{data: {role: "main-category" }}=link_to "180x200", products_path(size_id: 1)
      %li{data: {role: "main-category" }}=link_to "200x220", products_path(size_id: 2)
      %li{data: {role: "main-category" }}=link_to "%Promocje", bargain_path, class: "bargain"
  = render "notices"