= render "products/filter"

Produkty:

%section.products 
  %ul.products
    - products.each do |product|
      = link_to product_path(product) do
        %li
          = image_tag product.picture.default
          .info
            %span= product.name
            %span.fabric
              Skład:
              = product.fabric
            %span.price= format_price(product.price)
    .clearfix